{% extends 'index.html' %} 
{% block title %} <title>Lista de Autores</title> {% endblock title%} 
{% block center %}

<table class='container'>

    <thead>
  
      <tr class='bg-light text-muted'>
        <th>Id</th>
  
        <th>Nombre</th>
  
        <th>Apellido</th>
  
        <th>Nacionalidad</th>

        <th>Opciones</th>
  
  
      </tr>
  
    </thead>
  
    <tbody>
    {% for autor in authors %}
      <div class='mt-2'>
        <tr >
       
          <td>{{autor.id}}</td>
  
          <td>{{autor.name}}</td>
    
          <td>{{autor.last_name}}</td>
    
          <td>{{autor.nationality}}</td>
        
  
          <td >
            <a class='btn btn-success btn-sm' href="{% url 'editar_autor' autor.id %}">Editar</a>
            <a class='btn btn-danger btn-sm' href="{% url 'eliminar_autor' autor.id %}">Eliminar</a>
          </td>
    
          
      </tr>
      </div>
    {% endfor %}
  
     
  
    </tbody>
  
  </table>

  <br> <form action="" method="post" class="container">
    {% csrf_token %}
    {% if error %}
    <h2>{{error}}</h2>
    {% else %}
    <div>{{form.as_p}}</div>
    <!--{{author_form.as_table}}-->
    <!--{{author_form.as_ul}}-->
    {% endif %}
    <div class=''>
        <button type="submit" class='btn btn-success '>Crear</button>
        <a class='btn btn-danger ' href={% url 'listar_autor' %}>Cancelar</a>
    </div>
</form>

{% endblock center %}
