{% extends 'index.html' %}

{% block title %} <title>Listado de Libros</title> {% endblock title %}











{% block center %}

<table class='container'>

    <thead>
  
      <tr class='bg-light text-muted'>
        <th>Titulo</th>
  
        <th>Autor</th>
  
        <th>Fecha de Publicacion</th>
  
        
  
  
      </tr>
  
    </thead>
  
    <tbody>
    {% for libro in book %}
      <div class='mt-2'>
        <tr >
       
            <td>{{libro.title}}</td>
            <td>{{libro.author_id}}</td>
            <td>{{libro.publication_date}}</td>
            <td><a class='btn btn-success btn-sm' href="{% url 'update_book' libro.id %}">Editar</a></td>
            <td><a class='btn btn-danger btn-sm' href="{% url 'delete_book' libro.id %}">Eliminar</a></td>
        
  
          {% comment %} <td >
            <a class='btn btn-success btn-sm' href="{% url 'editar_autor' autor.id %}">Editar</a>
            <a class='btn btn-danger btn-sm' href="{% url 'eliminar_autor' autor.id %}">Eliminar</a>
          </td> {% endcomment %}
    
          
      </tr>
      </div>
    {% endfor %}
  
     
  
    </tbody>
  
  </table>
<br>
  <form action="" method="post">
    {% csrf_token %}

    <form class="row g-3">
        <div class="col-md-4">
          <label for="validationServer01" class="form-label">{{form.title.label}}</label>
          {{form.title}}
         
        </div>
        <br>
        <div class="col-md-4">
          <label for="validationServer02" class="form-label">{{form.author_id.label}}</label>
          {{form.author_id}}
         
          
        </div>
        <br>
        <div class="col-md-4">
          <label for="validationServerUsername" class="form-label">{{form.publication_date.label}}</label>
          {{form.publication_date}}
        
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
      </form>
        
</form>

  

{% endblock center %}
